.container{
    display: flex;
    background-color: var(--color-dark);
    color: white;
    height: 200px;
    gap: 100px;
    padding: 15px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
