@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #F7F7EE;
  --color-pink: #FA9B95;
  --color-green: #9ECEB9;
  --color-dark: #222222;
}

body {
  font-family: 'Roboto';
  background-color: var(--background-color);
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/* style main button */

.button {
  height: 40px;
  width: 120px;
  background: var(--color-pink);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: var(--color-green);
  transition: 0.3s;
}


/* style mini button */

.button-mini {
  height: 20px;
  width: 160px;
  background: var(--color-green);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}


.input {
  height: 30px;
  border: 1px solid gray;
  border-radius: 30px;
  margin: 0;
  padding-left: 15px;
}
